/* MAL TOPBAR */

#mal\_control\_strip {
    background-image: url("") !important;
    background-color: black !important;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    left: 0;
    background-repeat: repeat-x;
    color: white;
    font-family: 'Open Sans';
    font-size: 11px;
    font-variant: normal;
    text-transform: none;
    top: 0px;
    z-index: 5;
}
#mal\_control\_strip a {
    color: white;
    font-family: 'Open Sans';
    font-size: 11px;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none !important;
    background: transparent;
    text-transform: none;
}
#mal\_control\_strip img {
    background: transparent none repeat scroll 0%;
    border: 0 none;
    margin: 0;
    padding: 0;
}
#mal\_control\_strip table {
    width: auto;
    height: 40px;
}
#mal\_control\_strip td {
    height: 40px;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-variant: normal;
    text-transform: none;
}
#mal\_control\_strip td div {
    margin: 3px 0;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-variant: normal;
}
#mal_cs_pic {
    width: 80px;
    padding-right: 8px;
    padding: 0 1em;
}
#mal_cs_listinfo {
    width: 75px;
    padding: 0 1em;
}
#mal_cs_links {
    width: 150px;
    padding: 0 1em;
    display: none !important;
}
#mal_cs_otherlinks {
    padding: 0 1em;
}
#mal_cs_powered a {
    display: none;
}
#mal_cs_powered {
    position: absolute;
    top: 0px;
    right: 0px;
}
#mal_cs_powered #search {} #mal_cs_powered #search #searchBox {
    border-radius: 3px;
    padding: 8px;
    font-size: 15px !important;
    color: whitesmoke;
    text-align: center;
    background-color: #222222;
    border-style: none;
    top: 0px !important;
}
#searchListButton {
    display: none;
}
#searchListButton:hover {
    cursor: pointer;
}
#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
    border-right: 1px solid #7e7e7e;
}
#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
    border-right: none !important;
}

/* END */
